body {
  display: block;
  margin: 8px;
}

.App {
  text-align: left;
}

.formPost li {
list-style: none;
}

.btn {
margin:8px;
}

.pDescription {
  text-align: left;
  max-width: 270px;
}

.h1Title {
  text-align: left;
  max-width: 270px;
}