.App {
  text-align: left;
}

.formPost li {
list-style: none;
}

.pDescription {
  text-align: left;
  max-width: 240px;
  margin-left: 15px;
}

.h1Title {
  text-align: left;
  max-width: 240px;
  margin-left: 15px;
}